*.pyc
.DS_Store
prompts/.backups/
.cursorrules
.cursor/

projects/local-ai/.env
/projects/local-ai/data/raw
/projects/local-ai/scripts
/.idea
eap-tls-lab/
/.specstory
# SpecStory explanation file
.specstory/.what-is-this.md
/backups
/src/fastmcp_todo_server/.idea
/src/Omnispindle/.idea
/venv
.env
/node_modules
docs/mindmap.html
projects/python/mcp-auth-cli/mcp_auth.py
/projects/personal
*/stripe-sample-code
/stripe-sample-code
/.claude/data
